.body{
    background-color:rgb(79, 165, 79);
    margin-top: 100px;
    overflow: hidden;
    color:honeydew
}
#quote{
    top: 200px;
    margin-left: 200px;
    font-size: 15px;
    color:palegoldenrod;
}
#prof{
    position: relative;
    margin-left: 200px;
    font-size: 35px;
}
#name{
    
    margin-left: 200px;
    font-size: 60px;
}
#bio{
    margin-left: 200px;
    font-size: 25px;
}
#but1{
    margin-left: 200px;
    border: 1px solid black ;
    border-radius: 10px;
    background-color: darkcyan;
    color: white;

}

